[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git@github.com:zibnix/vim-pathogen.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = git@github.com:zibnix/vim-go.git
[submodule "vim/bundle/dracula-theme"]
	path = vim/bundle/dracula-theme
	url = git@github.com:zibnix/dracula-theme.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:zibnix/nerdtree.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = git@github.com:zibnix/YouCompleteMe.git
[submodule "vim/bundle/Dockerfile.vim"]
	path = vim/bundle/Dockerfile.vim
	url = git@github.com:zibnix/Dockerfile.vim.git
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = git@github.com:zibnix/ohmyzsh.git
