[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git@github.com:zibnix/vim-pathogen.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = git@github.com:zibnix/vim-go.git
[submodule "vim/bundle/dracula-theme"]
	path = vim/bundle/dracula-theme
	url = git@github.com:zibnix/dracula-theme.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:zibnix/nerdtree.git
[submodule "vim/bundle/Dockerfile.vim"]
	path = vim/bundle/Dockerfile.vim
	url = git@github.com:zibnix/Dockerfile.vim.git
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = git@github.com:zibnix/ohmyzsh.git
[submodule "vim/bundle/deoplete.nvim"]
	path = vim/bundle/deoplete.nvim
	url = git@github.com:Shougo/deoplete.nvim.git
[submodule "vim/bundle/nvim-yarp"]
	path = vim/bundle/nvim-yarp
	url = git@github.com:roxma/nvim-yarp.git
[submodule "vim/bundle/vim-hug-neovim-rpc"]
	path = vim/bundle/vim-hug-neovim-rpc
	url = git@github.com:roxma/vim-hug-neovim-rpc.git
